* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #1C1C1C;
}

.navbar {
    width: 95%;
    height: 4rem;
    background-color: white;
    border-radius: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.5% auto;
}


.logo {
    margin-left: 5%;
    width: 5rem;
    padding: 0px 5px 5px 5px;
}

.logo img {
    width: 100%;

    background-size: cover;
}


.navbar li {
    list-style: none;
    display: inline-block;
    padding-right: 4rem;
    padding-top: 10px;
}
.navbar li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    
    display: inline-block;       
    transition: transform 0.3s;  
}

.navbar li a:hover {
    
    transform: scale(1.2);
    color: #D4AE37;
    text-shadow: 2px 2px 10px #D4AE37;
}

.hero {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 40px 40px 0 0;
}

.hero img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center bottom;
    display: block;
    border-radius: 40px 40px 0 0;
}

.text {
    position: absolute;
    top: 50%;
    right: 6%;
    transform: translateY(-50%);
    width: 32%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    padding: 2rem;
}

.text h1 {
    font-size: 4rem;
    font-weight: 400;
}

.text p {
    font-size: 1rem;
    margin: 1rem 0;
}

.text button {
    background: black;
    color: white;
    padding: 10px 22px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}
.text button:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 8px white;
    border: 1px solid white;
}


@media (max-width: 768px) {

    .hero img {
        height: 50vh;
    }

    .text {
        position: static;
        transform: none;
        width: 100%;
        margin-top: 1rem;
        color: white;
    }

    .text h1 {
        font-size: 1.8rem;
        color: white;
    }
}

.hero2 {
    margin-top: 15px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 40px 40px;
}

.hero2 img {
    width: 100%;
    height: 60vh;
    border-radius: 0 0 40px 40px;
    object-fit: cover;
    object-position: center bottom;
    display: block;
}

.txt {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 55%;
    padding: 2rem;
}

.txt h1 {
    font-size: 3.9rem;
    font-weight: 400;
    text-align: center;
}

.txt p {
    margin-top: 15px;
    text-align: center;
}

@media (max-width: 768px) {

    .hero2 img {
        height: 50vh;
    }

    .txt {
        position: static;
        transform: none;
        width: 100%;
        margin-top: 1rem;
        color: white;
    }

    .txt h1 {
        font-size: 1.8rem;
        color: white;
    }
}

.catlog {
    margin-top: 20px;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    /* background-color: aquamarine; */

}

.furniture {
    /* border: 1px solid black; */
    /* margin: 0px 30px; */
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.hding {

    text-align: center;
    margin: 10px auto;
    border: 1px solid white;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    padding-top: 6px;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
}

.interior {
    margin-top: 30px;
}

.container {
    max-width: 95%;
    padding-top: 10px;
    height: 60vh;
    display: flex;
    gap: 15px;
}

.box {
    flex-grow: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 50px 0px 0px 50px;
    transition: transform 0.3s;
}

.box img {
    flex: 8;
    width: 100%;
    object-fit: cover;
}

.desc {
    flex: 2;
    padding: 10px;
    background: #2A2A2A;
    color: white;
    text-align: center;
}

.desc h2 {
    font-size: 1.5rem;
    font-weight: 350;

}

.desc p {
    padding-top: 12px;
    font-size: 14px;
    font-weight: 300;
}
.one{
    text-decoration: none;
    color: white;
}
.two {
    border-radius: 0px;
    text-decoration: none;
    color: white;
}

.three {
    border-radius: 0px;
    text-decoration: none;
    color: white;
}

.four {
    border-radius: 0px 50px 50px 0px;
    text-decoration: none;
    color: white;
}
.box:hover{
    transform: scale(1.02);
    border: 1px solid #D4AE37;
    box-shadow: 0px 2px 10px #d4ad37a7;
}

.about {
    margin: 0 auto;
    width: 96%;
    position: relative;
    overflow: hidden;

}

.about img {
    border-radius: 50px;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center bottom;
    display: block;
}

.abtus {
    position: absolute;
    top: 4%;
    right: 2%;
    width: 40%;
    padding: 2rem;
}

.abtus h2 {
    text-align: right;
    font-size: 1.3em;
    font-weight: 400;
}

.abtus h3 {
    margin-top: 20px;
    font-size: 6.7vh;
    font-weight: 400;
    text-align: right;
}
@media (max-width: 768px) {
    .abtus h3{
        font-size: 1.8rem;
    }
}
.abtus p {
    margin-top: 20px;
    text-align: right;
    color: black;
}

.contact_us {
    margin-top: 30px;
    width: 100%;
    height: 60vh;
}

.hdings {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    color: white;
    margin-bottom: 30px
}


/* Contact Us  */


.contact {
    width: 100%;
    /* min-height: 83vh; */
    height: auto;
    display: flex;
    flex-direction: column;
}

.contact h2 {
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
    color: white;
}

.contact-box h3 {
    font-size: 1.5em;
    font-weight: 350;
    color: white;
}

.contact-container {
    margin-top: 15px;
    display: flex;
}

.contact-box {
    flex: 7.3;
    /* background-color: white; */
    padding: 30px;
    border: 1px solid white;
    border-radius: 0px 50px 50px 0px;
    margin-right: 10px;
}

/* form  */
.contact-box form label {
    padding: 8px 8px 8px 0px;
    color: white;
}

.contact-box form input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid white;
    padding-left: 10px;
    background-color: #1C1C1C;

}
.contact-box form input[type="text"]{
    color: white;
}
.contact-box form input[type="email"]{
    color: white;
}
.contact-box form input[type="tel"]{
    color: white;
}
.contact-box form textarea{
    color: white;
}

.contact-box form textarea {
    width: 100%;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid white;
    background-color: #1C1C1C;
}

.contact-box form button {
    border-radius: 40px;
    width: 150px;
    height: 40px;
    border: 1px solid white;
    color: white;
    background-color: #1C1C1C;
    margin: 10px 0px 0px 0px;
    transition: transform 0.3s;
}
.contact-box form button:hover{
    transform: scale(1.05);
    background-color: white;
    color: black;
    border: 1px solid #D4AE37;
    box-shadow: 2px 2px 8px #D4AE37;
}
.info {
    margin-left: 10px;
    flex: 2.7;
    background-color: #D4AE37;
    padding: 25px 25px 0px 25px;
    border-radius: 50px 0px 0px 50px;
}

.info-text {
    margin: 10px 20px 10px 20px;
    padding: 0px 10px 0px 10px;
}

.info-text h3 {
    font-size: 1.5em;
    font-weight: 400;
    padding: 5px 0px 5px 0px;


}

.info-text p {
    margin: 0px;
}
/* Icons  */
.icons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 1.3em; */
    justify-content: space-around;
}
.icons a {
    color: #1C1C1C;
    text-decoration: none;
    font-size: 1.4rem;
    display: inline-block;
    transition: transform 0.3s;
}
.icons a:hover{
    transform: scale(1.2);
    text-shadow: 2px 0px 10px #b69532;
}

.footerr {
    margin-top: 25px;
    width: 100%;
    height: auto;
    min-height: 30vh;
    background-color: black;
    color: white;
    padding-bottom: 10px;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.footheading {
    padding: 30px 30px 0px 40px;
    text-align: center;
}
.footheading h3 {
    font-size: 1.8em;
    font-weight: 380;
}
.footheading p {
    font-weight: 300;
}
/* Our services  */

.fh a{
    text-decoration: none;
    color: white;
    transition: transform 0.3s;
    display: inline-block;
}
.fh a:hover{
    transform: scale(1.2);
    color: #D4AE37;
}

/* copyright */
.copy {
    text-align: center;
    font-size: 1.1em;
    font-weight: 350;

}


/* mobile  */


@media (max-width: 768px) {

    .navbar {
        height: auto;
        flex-direction: column;
        padding: 15px;
        border-radius: 30px;
    }
    .navbar ul {
        padding: 0;
        text-align: center;
    }
    .navbar li {
        display: block;
        padding: 10px 0;
    }

    .catlog {
        height: auto; 
        padding-bottom: 50px;
    }
    .furniture, .interior {
        height: auto;
    }
    .container {
        flex-direction: column; 
        height: auto;
        padding: 0 15px;
    }
    .box {
        margin-bottom: 20px;
        min-height: 400px; 
        border-radius: 30px !important; 
    }
    
    .box img {
        border-radius: 30px 30px 0 0 !important; 
    }


    .about {
        height: auto;
    }
    .about img {
        height: 40vh;
        margin-bottom: 70px;
    }

    .abtus {
        position: static; 
        width: 100%;
        background-color: white; 
        padding: 20px;
        margin-top: -50px; 
        border-radius: 30px;
        z-index: 2;
        position: relative;
        margin-left: 12px;
    }
    .abtus h2, .abtus h3, .abtus p {
        text-align: center; 
    }

    
    .contact {
        height: auto;
    }
    .contact-container {
        flex-direction: column;
    }
    .contact-box {
        margin-right: 0;
        border-radius: 30px 30px 0 0; 
    }
    .info {
        margin-left: 0;
        border-radius: 0 0 30px 30px; 
    }

    
    .footerr {
        height: auto;
        padding-bottom: 20px;
    }
    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 30px;
    }
    .footheading {
        padding: 10px;
    }
    .info {
        margin-left: 0;
        border-radius: 0 0 30px 30px;
        
        text-align: center;
        display: flex;
        flex-direction: column;  
        align-items: center;     
        padding-bottom: 30px;    
    }

    .icons {
        justify-content: center; 
        width: 100%;
    }
    .icons a{
        font-size: 1em;
        transition: transform 0.3s;
    }
    .icons a:hover{
        transform: scale(1.2);
    }
}
